@font-face {
  font-family: "FontSans";
  src: url("/fonts/font.woff2") format("woff2"),
  url("/fonts/font.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Italic.ttf") format("ttf");
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-BoldItalic.ttf") format("ttf");
  font-weight: 700;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "FontSans", "Noto Sans", 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a, div, span {
  font-weight: normal;
  letter-spacing: 0.1rem;
}
