h1.typography {
    font-size: 1.7rem;
    font-weight: normal;
    text-transform: uppercase;
}
p.typography {
    margin: 0;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.black {
    color: black;
}
.grey {
    color: #8D8D8D;
}
.white {
    color: white;
}
